<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="usermain:: layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>UserDashBoard</title>
</head>
<body>
	<section class="user-dashboard d-flex justify-content-center align-items-center">
		<div>
			<div>
				<h1>Your DashBoard</h1>
			</div>
			<div class="operations">
				<div class="box">
					<div class="box-contain">
						<h1>Check Details</h1>
						<p>Check your saved contact list here</p>
						
					</div>
				</div>

				<div class="box">
					<div class="box-contain">
						<h1>Save<br>Contact</h1>
						<p>Quickly save details from your contact.
							<br>
							In just few clicks.
						</p>
					</div>
				</div>
				

			</div>
		</div>
			
		
		
	</section>
</body>
</html>