body{
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8)), url(../img/userdashbrd.jpg)no-repeat fixed;
    width: 100%;
    background-size: cover;
    height: 100vh;
    color: white;
    
}

.nav-color{
    background: rgb(127, 154, 86);
}
.content-main{
   /* margin-right: 10%;
   margin-left: 10%; */
   margin-top: 10%;
   color: black;
   margin-bottom: 5%;
}

/* .user-dashboard{
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8)), url(../img/userdashbrd.jpg)no-repeat fixed;
    width: 100%;
    background-size: cover;
    height: 93vh;
} */
.operations{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.box{
    padding: 10px 20px;
    font-size: 12px;
    border: 1px rgb(106, 133, 18) solid;
    border-radius: 1px 40%;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    height: auto;
    background: transparent;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    transition: transform 0.4s ease-in-out;
    
}
.box:hover{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0, .2)), white;
    color: black;
    transform: scale(1.1);

}
.card{
    width: auto;
    height: auto;
}