<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=" main:: layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 class="font-weight-bold">About us</h1>
	<p >Welcome to Smart Contact Manager, your trusted digital solution for securely storing and managing your contacts online.<br> In today’s fast-paced world, losing a mobile phone can mean losing important contact details.<br> That’s where we step in!

Our platform allows users to securely save, access, and restore their contacts anytime, anywhere.<br> Whether you lose your phone or switch devices, your valuable contact information remains safe and accessible with just a few clicks.</p>
	</div>
	</section>
</body>
</html>