<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=" main:: layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 class="font-weight-bold">Smart Contact Manager</h1>
	<p>Losing your phone shouldn’t mean losing your important contacts.<br> With Smart Contact Manager, securely store, access, and restore your contacts anytime, anywhere.
	   <br> Join us today and experience the peace of mind of having your contacts secure, organized, and always within reach! </p>
	   <button class="btn-primary mt-3 ">
		<a href="/signup" style="color: white; text-decoration: none;">Continue</a>
	</button>
	</div>
	
	</section>
</body>
</html>