<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=" main:: layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section >
	
	<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
		<div class="my-card mt-3">

      <div th:if="${message}">
        <div class="alert" th:classappend="${message.type}" role="alert">
            <span th:text="${message.content}"></span>
        </div>
    </div>
    
		
		<div class="container text-center">
		<img style="width: 50px" alt="" src="" th:src="@{/img/registration.png}">
		</div>
		
		<h1 class="text-center">Register</h1> 
		 
		<form th:action="@{/register}" method="post" th:object="${user}">
		
		
		 <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input 
    name="name"
    type="text" 
    class="form-control" 
    id="name_field" 
    th:value="${user.name}"
    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
    placeholder="Enter your name"
    aria-describedby="nameHelp" />

    <div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback">
    </div>

  </div>
  
  
          <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input 
    name="email"
    type="text" 
    class="form-control" 
    th:value="${user.email}"
    th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
    id="email_field" 
    placeholder="Enter your email"
    aria-describedby="emailHelp">

    <div th:each="e : ${#fields.errors('email')}" th:text="${e}" class="invalid-feedback">
    </div>


  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Password</label>
    <input 
    type="password" 
    name="password"
    class="form-control" 
    id="password_field" 
    placeholder="Enter password"
    th:value="${user.password}"
    aria-describedby="emailHelp">
   
  </div>
  
  <div class="form-group">
  <textarea rows="4"
  name="description" 
  th:value="${user.description}"
  class="form-control" placeholder="Enter about yourself"></textarea>
  </div>
		
			
		
  <div class="form-group form-check text-center">
  
  <input type="checkbox"
  name="agreement"
  class="checkBox-input"
  id="agreement" />
  <label for="agreement">Terms And Condition</label>
  
  </div>
		<div class="contain text-center mt-3 d-grid gap-2">
		
		
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-dark">Reset</button>
		</div>
		
		</form>
		</div>
		</div>
		</div>
	</div>
	
	</section>
</body>
</html>